<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>EN</string>
		<key>app_facebook</key>
		<string>fb396433197167176</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-so-duah2hd-112210-170414.png</string>
		<key>app_id</key>
		<string>771560620</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>1</string>
		<key>app_like</key>
		<string>1549</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/coconut-boy-hd-amazing-interactive/id771560620?ls=1&amp;mt=8</string>
		<key>app_name</key>
		<string>Coconut Boy</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>107</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb127542834118916</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-co-be-quang-khan-do-112300-170414.png</string>
		<key>app_id</key>
		<string>648188527</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>1728</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/co-be-quang-khan-o-hd/id648188527?l=vi&amp;ls=1&amp;mt=8</string>
		<key>app_name</key>
		<string>Cô Bé Quàng Khăn Đỏ</string>
		<key>app_ratecount</key>
		<string>29</string>
		<key>app_ratepoint</key>
		<string>4.5</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>104</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb433028676806061</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-nccntr-112804-170414.png</string>
		<key>app_id</key>
		<string>702790740</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>3415</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/nang-cong-chua-ngu-trong-rung/id702790740?mt=8</string>
		<key>app_name</key>
		<string>Nàng Công Chúa Ngủ Trong Rừng</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>101</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb567062230028073</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-ali-baba-112836-170414.png</string>
		<key>app_id</key>
		<string>702790647</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>5017</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/ali-baba-va-bon-muoi-ten-cuop-hd/id702790647?mt=8</string>
		<key>app_name</key>
		<string>Ali Baba và Bốn Mươi Tên Cướp</string>
		<key>app_ratecount</key>
		<string>5</string>
		<key>app_ratepoint</key>
		<string>5.0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>98</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb553259941394844</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-de-con-qua-cau-112903-170414.png</string>
		<key>app_id</key>
		<string>715441824</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>3218</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/de-con-qua-cau-hd/id715441824?mt=8</string>
		<key>app_name</key>
		<string>Dê Con Qua Cầu</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>95</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb173391619513715</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-con-rong-chau-tien-1--112940-170414.png</string>
		<key>app_id</key>
		<string>666625419</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>4119</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/con-rong-chau-tien-hd/id666625419?mt=8</string>
		<key>app_name</key>
		<string>Truyền Thuyết Con Rồng Cháu Tiên</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>92</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb298858856920307</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-nong-noc-tim-me-113007-170414.png</string>
		<key>app_id</key>
		<string>695453375</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>1610</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/nong-noc-tim-me-hd/id695453375?mt=8</string>
		<key>app_name</key>
		<string>Nòng Nọc Tìm Mẹ</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>89</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb325614100909443</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-hte-new-113031-170414.png</string>
		<key>app_id</key>
		<string>682303969</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>2911</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/hoang-tu-ech-hd/id682303969?mt=8</string>
		<key>app_name</key>
		<string>Hoàng Tử Ếch</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>86</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb645235628820515</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-congchuahatdau2222-113107-170414.png</string>
		<key>app_id</key>
		<string>682314720</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>3719</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/nang-cong-chua-va-hat-au-hd/id682314720?mt=8</string>
		<key>app_name</key>
		<string>Nàng Công Chúa Và Hạt Đậu</string>
		<key>app_ratecount</key>
		<string>6</string>
		<key>app_ratepoint</key>
		<string>3.5</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>83</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb1817439918396716</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-ccct-113148-170414.png</string>
		<key>app_id</key>
		<string>695445538</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>2403</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/su-tich-chu-cuoi-cung-trang-hd/id695445538?mt=8</string>
		<key>app_name</key>
		<string>Sự Tích Chú Cuội Cung Trăng</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>80</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb199331250234944</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-tho-rua-015510-120214.png</string>
		<key>app_id</key>
		<string>682319121</string>
		<key>app_is_hot</key>
		<string>1</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>4905</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/tho-va-rua-hd/id682319121?mt=8</string>
		<key>app_name</key>
		<string>Thỏ và Rùa</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>77</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>5</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb232505936922548</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/khung-icon-hoangde-hd-113243-170414.png</string>
		<key>app_id</key>
		<string>791790716</string>
		<key>app_is_hot</key>
		<string>1</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>3408</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/bo-quan-ao-moi-cua-hoang-e-hd/id791790716?mt=8</string>
		<key>app_name</key>
		<string>Bộ Quần Áo Mới Của Hoàng Đế</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>74</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb568913429830155</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-do-en-va-do-tr-u1eafng-113311-170414.png</string>
		<key>app_id</key>
		<string>716442695</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>2606</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/de-en-va-de-trang-hd/id716442695?ls=1&amp;mt=8</string>
		<key>app_name</key>
		<string>Dê Đen và Dê Trắng</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>71</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb221204454713775</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/iconsutichcayvusuahd-113520-170414.png</string>
		<key>app_id</key>
		<string>720655985</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>2503</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/su-tich-cay-vu-sua-hd/id720655985?ls=1&amp;mt=8</string>
		<key>app_name</key>
		<string>Sự Tích Cây Vú Sữa</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>68</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb464051810374416</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-ng-l-o-nh-c-va-con-c-vang-022940-170414.png</string>
		<key>app_id</key>
		<string>727446617</string>
		<key>app_is_hot</key>
		<string>1</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>3104</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/ong-lao-anh-ca-va-con-ca-vang-hd/id727446617?ls=1&amp;mt=8</string>
		<key>app_name</key>
		<string>Ông Lão Đánh Cá và Con Cá Vàng</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>65</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb214528358721108</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-ba-ba-tim-nhahd-023223-170414.png</string>
		<key>app_id</key>
		<string>727446447</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>3604</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/ba-ba-tim-nha-hd/id727446447?mt=8</string>
		<key>app_name</key>
		<string>Ba Ba Tìm Nhà</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>62</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb197273240456659</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-kien-va-ve-sauhd-023243-170414.png</string>
		<key>app_id</key>
		<string>737629103</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>4505</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/kien-va-ve-sau-hd/id737629103?ls=1&amp;mt=8</string>
		<key>app_name</key>
		<string>Kiến và Ve Sầu</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>59</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb710889888921302</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-cochu-kobietquytinhbanhd-023304-170414.png</string>
		<key>app_id</key>
		<string>739013454</string>
		<key>app_is_hot</key>
		<string>1</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>2903</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/co-chu-khong-biet-quy-tinh/id739013454?mt=8</string>
		<key>app_name</key>
		<string>Cô Chủ Không Biết Quý Tình Bạn</string>
		<key>app_ratecount</key>
		<string>6</string>
		<key>app_ratepoint</key>
		<string>4.5</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>56</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>5</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb193176490868295</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-ba-chua-tuyethd-023318-170414.png</string>
		<key>app_id</key>
		<string>741981242</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>3602</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/ba-chua-tuyet-hd/id741981242?mt=8</string>
		<key>app_name</key>
		<string>Bà Chúa Tuyết</string>
		<key>app_ratecount</key>
		<string>5</string>
		<key>app_ratepoint</key>
		<string>4.5</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>53</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb1399711103501358</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-chulinhchidungcamhd-023336-170414.png</string>
		<key>app_id</key>
		<string>757725551</string>
		<key>app_is_hot</key>
		<string>1</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>3802</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/chu-linh-chi-dung-cam-hd/id757725551?ls=1&amp;mt=8</string>
		<key>app_name</key>
		<string>Chú Lính Chì Dũng Cảm</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>50</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>5</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb1376418245936281</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-su-tich-hoa-tuy-lip-hd---copy-023359-170414.png</string>
		<key>app_id</key>
		<string>771354148</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>3601</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/su-tich-hoa-tulip-hd/id771354148?mt=8</string>
		<key>app_name</key>
		<string>Sự Tích Hoa Tulip</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>47</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb449751401798313</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-bachulonconhd-023426-170414.png</string>
		<key>app_id</key>
		<string>765189065</string>
		<key>app_is_hot</key>
		<string>1</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>5203</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/ba-chu-lon-con-hd/id765189065?mt=8</string>
		<key>app_name</key>
		<string>Ba Chú Lợn Con</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>44</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>EN</string>
		<key>app_facebook</key>
		<string>fb1490259747866510</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/iconhaichugauthamanhd-023546-170414.png</string>
		<key>app_id</key>
		<string>784395875</string>
		<key>app_is_hot</key>
		<string>1</string>
		<key>app_is_new</key>
		<string>1</string>
		<key>app_like</key>
		<string>4411</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/two-greedy-bears-hd-amazing/id784395875?mt=8</string>
		<key>app_name</key>
		<string>Two Greedy Bears</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>41</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>5</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb397086377093095</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/iconnguoidepvaquaivathd-023616-170414.png</string>
		<key>app_id</key>
		<string>789580942</string>
		<key>app_is_hot</key>
		<string>1</string>
		<key>app_is_new</key>
		<string>1</string>
		<key>app_like</key>
		<string>4505</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/nguoi-ep-va-quai-vat-beauty/id789580942?mt=8</string>
		<key>app_name</key>
		<string>Người Đẹp Và Quái Vật</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>38</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb500957363292280</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-tamcam-023633-170414.png</string>
		<key>app_id</key>
		<string>638035977</string>
		<key>app_is_hot</key>
		<string>1</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>3502</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/tam-cam-hd/id638035977?l=vi&amp;ls=1&amp;mt=8</string>
		<key>app_name</key>
		<string>Tấm Cám</string>
		<key>app_ratecount</key>
		<string>21</string>
		<key>app_ratepoint</key>
		<string>4.0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>35</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb515588735168611</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-sontinh-thuytinh2-023700-170414.png</string>
		<key>app_id</key>
		<string>633377330</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>2403</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/son-tinh-thuy-tinh-hd/id633377330?l=en&amp;mt=8</string>
		<key>app_name</key>
		<string>Sơn Tinh Thủy Tinh</string>
		<key>app_ratecount</key>
		<string>8</string>
		<key>app_ratepoint</key>
		<string>4.5</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>32</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb160072484160240</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-concoc-023721-170414.png</string>
		<key>app_id</key>
		<string>641024064</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>3503</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/con-coc-la-cau-ong-troi-hd/id641024064?mt=8</string>
		<key>app_name</key>
		<string>Con Cóc Là Cậu Ông Trời</string>
		<key>app_ratecount</key>
		<string>25</string>
		<key>app_ratepoint</key>
		<string>5.0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>29</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>5</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb256467134491674</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-so-duah2hd-023800-170414.png</string>
		<key>app_id</key>
		<string>647108540</string>
		<key>app_is_hot</key>
		<string>1</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>5604</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/so-dua-hd/id647108540?l=en&amp;mt=8</string>
		<key>app_name</key>
		<string>Sọ Dừa</string>
		<key>app_ratecount</key>
		<string>33</string>
		<key>app_ratepoint</key>
		<string>4.5</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>26</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>5</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb486838058065010</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-cay-tre-tram-doth-023814-170414.png</string>
		<key>app_id</key>
		<string>656532439</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>4505</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/cay-tre-tram-ot-hd/id656532439?l=vi&amp;ls=1&amp;mt=8</string>
		<key>app_name</key>
		<string>Cây Tre Trăm Đốt</string>
		<key>app_ratecount</key>
		<string>5</string>
		<key>app_ratepoint</key>
		<string>4.5</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>23</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>5</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb147814798752455</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-co-be-ban-diem-023831-170414.png</string>
		<key>app_id</key>
		<string>662007354</string>
		<key>app_is_hot</key>
		<string>1</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>5705</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/co-be-ban-diem-hd/id662007354?l=vi&amp;ls=1&amp;mt=8</string>
		<key>app_name</key>
		<string>Cô Bé Bán Diêm</string>
		<key>app_ratecount</key>
		<string>6</string>
		<key>app_ratepoint</key>
		<string>5.0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>20</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>5</string>
		<key>app_code</key>
		<string>EN</string>
		<key>app_facebook</key>
		<string>fb380031502133227</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-ba-chua-tuyethd-023844-170414.png</string>
		<key>app_id</key>
		<string>784389454</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>1</string>
		<key>app_like</key>
		<string>3320</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/us/app/mother-holle-hd/id784389454?mt=8</string>
		<key>app_name</key>
		<string>Mother Holle</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>14</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb495337020585516</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-7-con-quahd-023858-170414.png</string>
		<key>app_id</key>
		<string>788388027</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>1</string>
		<key>app_like</key>
		<string>3408</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/bay-con-qua-hd/id788388027?mt=8</string>
		<key>app_name</key>
		<string>Bảy Con Quạ</string>
		<key>app_ratecount</key>
		<string>0</string>
		<key>app_ratepoint</key>
		<string>0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>11</string>
	</dict>
	<dict>
		<key>app_age</key>
		<string>3</string>
		<key>app_code</key>
		<string>VI</string>
		<key>app_facebook</key>
		<string>fb576837368994226</string>
		<key>app_icon</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-thach-sanhhd-024014-170414.png</string>
		<key>app_id</key>
		<string>608830510</string>
		<key>app_is_hot</key>
		<string>0</string>
		<key>app_is_new</key>
		<string>0</string>
		<key>app_like</key>
		<string>2306</string>
		<key>app_link</key>
		<string>https://itunes.apple.com/vn/app/thach-sanh/id608830510?mt=8</string>
		<key>app_name</key>
		<string>Thạch Sanh</string>
		<key>app_ratecount</key>
		<string>7</string>
		<key>app_ratepoint</key>
		<string>5.0</string>
		<key>app_usd</key>
		<string>0</string>
		<key>app_vnd</key>
		<string>0</string>
		<key>id</key>
		<string>5</string>
	</dict>
</array>
</plist>
