<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phim_link1</key>
		<string>link1</string>
		<key>phim_link2</key>
		<string>link2</string>
		<key>phim_image1</key>
		<string>image1</string>
		<key>phim_image2</key>
		<string>image2</string>
	</dict>
</array>
</plist>
