<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phim_link1</key>
		<string>5</string>
		<key>phim_link2</key>
		<string>VI</string>
		<key>phim_image1</key>
		<string>fb1374937336125302</string>
		<key>phim_image2</key>
		<string>http://storeapp.bhmedia.vn/uploads/ipad/icon-app-cobelolemhd-022655-290514.png</string>
	</dict>
</array>
</plist>
